header {
	.row {
        position: relative;

		img {
			padding: 0;
		}

        h1 {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
	}
}
